<app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
<mat-card *ngIf="!isLoading" class="forgot-password-card rounded-2">
  <mat-card-header class="forgot-password-header">
    <mat-card-title class="forgot-password-title my-1"
      >
      <mat-icon>report_problem</mat-icon>
      Forgot Password</mat-card-title
    >
  </mat-card-header>

  <mat-card-content class="forgot-password-content">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>User ID</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your user ID"
          id="userId"
          formControlName="userId"
        />
        <mat-error *ngIf="userId?.errors?.['required']" class="error"
          >User Id is required</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Security Question</mat-label>
        <mat-select
          id="securityQuestionId"
          formControlName="securityQuestionId"
          placeholder="Select a security question"
        >
          <mat-option *ngFor="let q of securityQuestions" [value]="q.id">{{
            q.question
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Answer</mat-label>
        <input
          matInput
          type="text"
          placeholder="Enter your answer"
          id="answer"
          formControlName="answer"
        />
        <mat-error *ngIf="answer?.errors?.['required']" class="error"
          >Answer is required</mat-error
        >
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input
          matInput
          type="password"
          placeholder="Enter your new password"
          id="newPassword"
          formControlName="newPassword"
        />
        <mat-error *ngIf="newPassword?.errors?.['required']" class="error"
          >Password is required</mat-error
        >
        <mat-error *ngIf="newPassword?.errors?.['minlength']" class="error"
          >Password must be at least 8 characters long.</mat-error
        >
      </mat-form-field>

      <button [disabled]="!this.forgotPasswordForm.valid" mat-raised-button color="primary" class="full-width">
        Reset Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
